<include file="Public/_header" />
<title></title>
<style type="text/css">
	.nav_left{
		border-right: 1px solid #ccc;
		height: 600px;
		overflow: hidden;
	}
	.nav_left a{
		text-decoration: none;
	}
	.left_menu ul{
		margin-left: 10px;
		border-left: 1px dashed #ccc;
	}
	.left_menu li{
		line-height: 30px;
		margin-left: 10px;
	}
	.nav_right{
		overflow: hidden;
	}
	.amenu_disabled{
		cursor:not-allowed;
		background-image:none;
		opacity:.65;
		filter:alpha(opacity=65);
		box-shadow:none; 
		pointer-events:none;
	}
</style>
</head>

<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<table class="table">
		<tr>
			<td width="200" class="va-t nav_left">
				<div id="left_menu" class="left_menu">
					<ul>
						<volist name="menu" id="vo">
							<li><a href="{:U($vo['url'])}" class=" {:$vo['disabled']=='1'?'amenu_disabled':'amenu'}" > {$vo.title_show}{$vo.name}</a></li>
						</volist>
					</ul>
				</div>
			</td>
			<td class="nav_right va-t">
				<IFRAME ID="contentIframe" Name="contentIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=90% SRC=""></IFRAME>
			</td>
		</tr>
	</table>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function(){
			var heights = document.documentElement.clientHeight;
			$('.nav_right').height(heights);
			$('#contentIframe,#left_menu').height($("#frame").height());
        	$('body').css('overflow','hidden').attr("scroll","no");
        	$('.amenu').click(function(){
        		var menu_url = $(this).attr('href');
        		$('#contentIframe').attr('src',menu_url);
        		return false;
        	})
		})
	</script>
</body>

</html>