<include file="Public:_header" /> 
<div class="main">
    <nav class="breadcrumb">
    	<i class="Hui-iconfont">&#xe67f;</i> 留言回复
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="{:addons_url('GuestBook://GuestBook/index')}" title="返回">
			<i class="Hui-iconfont">&#xe66b;</i>
		</a>
    </nav>
    <div class="pd-20">
    <form action="{:addons_url('GuestBook://GuestBook/replay')}" method="post">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <tbody>
                <tr>
                    <td width="100" class="text-c">标题</td>
                    <td>{$info.title}</td>
                </tr>
                <tr>
                    <td class="text-c">姓名</td>
                    <td>{$info.name}</td>
                </tr>
                <tr>
                    <td class="text-c">性别</td>
                    <td>{$info['sex']==1?'男':'女'}</td>
                </tr>
                <tr>
                    <td class="text-c">地址</td>
                    <td>{$info.address}</td>
                </tr>
                <tr>
                    <td class="text-c">电话</td>
                    <td>{$info.tel}</td>
                </tr>
                <tr>
                    <td class="text-c">手机</td>
                    <td>{$info.mobile}</td>
                </tr>
                <tr>
                    <td class="text-c">传真</td>
                    <td>{$info.fax}</td>
                </tr>
                <tr>
                    <td class="text-c">公司名称</td>
                    <td>{$info.company}</td>
                </tr>
                <tr>
                    <td class="text-c">邮箱</td>
                    <td>{$info.email}</td>
                </tr>
                <tr>
                    <td class="text-c">主页</td>
                    <td>{$info.home}</td>
                </tr>
                <tr>
                    <td class="text-c">内容</td>
                    <td>{$info.content}</td>
                </tr>
                <tr>
                    <td class="text-c">发布时间</td>
                    <td>{$info.addtime|date='Y-m-d H:i:s',###}</td>
                </tr>
                <tr>
                    <td class="text-c">回复</td>
                    <td><textarea name="back" class="textarea">{$info.back}</textarea></td>
                </tr>

            </tbody>
        </table>
        <div class="row clearfix" style="margin-top:5px;">
            <input type="hidden" name="id" value="{$info.id}" />
            <input type="submit" class="btn btn-success w8" value="回复" />
            
            <input type="reset" class="btn btn-default w8" value="重置" />
        </div>
    </form>
    </div>
</div>
<include file="Public:_footer"/>
</body>
</html>
