<include file="Public/_header" />
<title>新增模块</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-article-add">
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>模块名称：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.name}" placeholder="" id="" name="name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>表名：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.table}" placeholder="" id="" name="table">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>链接：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.url}" placeholder="" id="" name="url">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>显示模式：</label>
				<div class="formControls col-4">
					<span class="select-box">
						<select name="modular" class="select">
							<option value="0">请选择显示模式</option>
							<volist name="display_mode" id="vo">
								<option value="{$i}" {:$i==$data['modular']?'selected=""':''}>{:$display_mode[$i]}</option>
							</volist>
						</select>
					</span>
				</div>
				<label class="form-label col-2">状态：</label>
				<div class="formControls col-2">
					<input type="checkbox" name="status" class="icheck" data-button="hua" value="1" checked />
				</div>
			</div>
			<div class="row cl">
				<div class="col-10 col-offset-2">
					<input type="hidden" name="id" value="{$data.id}" />
					<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function() {
			//			var ue = UE.getEditor('editor');
			//异步提交表单
			$('#form-article-add').submit(function() {
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('edit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success: function(data) {
						if (data.status == 1) {
							layer.msg(data.message, {
								icon: 6,
								time: 1000
							}, function() {
								console.log(data.data);
								parent.location.reload();
							});
						} else {
							layer.msg(data.message, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			})
		})
	</script>
</body>

</html>