<include file="Public/_header" />
<title>自定义设置</title>
</head>

<body>
	<include file="Public/_footer" />
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 自定义字段管理 
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"title="刷新">
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<div class="pd-20">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<volist name="data" id="vo">
					 <span>{$vo.name}自定义</span>
				</volist>
			</div>
			<volist name="data" id="vo">
				<div class="tabCon">
					<form action="{:U()}" method="post" class="form form-horizontal" id="form_setting_base">
						<php>$value = unserialize($vo['value'])</php>
						<volist name="value" id="val">
							<div class="row cl">
								<div class="form-control col-12">
									名称：<input type="text" name="value[{$i}][name]" value="{$val.name}" class="input-text" style="width: 200px;"/>
									说明：<input type="text" name="value[{$i}][instruction]" value="{$val.instruction}" class="input-text" style="width: 200px;"/>
									排序：<input type="text" name="value[{$i}][order]" value="{$val.order}" class="input-text" style="width: 50px;"/>
									类型：
									<select name="value[{$i}][type]" id="" class="select-box" style="width: 200px;">
										<option value="1" {:$val['type'] == 1 ? 'selected' : ''}>文本框(默认)</option>
										<option value="2" {:$val['type'] == 2 ? 'selected' : ''}>文本域</option>
										<option value="3" {:$val['type'] == 3 ? 'selected' : ''}>富文本编辑器</option>
										<option value="4" {:$val['type'] == 4 ? 'selected' : ''}>单选框</option>
										<option value="5" {:$val['type'] == 5 ? 'selected' : ''}>多选框</option>
										<option value="6" {:$val['type'] == 6 ? 'selected' : ''}>图片上传</option>
									</select>
									<span style="display:{:$val['option']?'':'none'}">选项：<input type="text" name="value[{$i}][option]" value="{$val['option']}" class="input-text" style="width: 250px;" /></span>
									标签调用说明：
									<a href="javascript:;" class="btn btn-danger custom_del">删除</a>
								</div>
							</div>
						</volist>
						<div class="row cl">
							<div class="form-control col-12">
								名称：<input type="text" name="value[0][name]" value="" class="input-text" style="width: 200px;"/>
								说明：<input type="text" name="value[0][instruction]" value="" class="input-text" style="width: 200px;"/>
								排序：<input type="text" name="value[0][order]" value="255" class="input-text" style="width: 50px;"/>
								类型：
								<select name="value[0][type]" id="" class="select-box" style="width: 200px;">
									<option value="1">文本框(默认)</option>
									<option value="2">文本域</option>
									<option value="3">富文本编辑器</option>
									<option value="4">单选框</option>
									<option value="5">多选框</option>
									<option value="6">图片上传</option>
								</select>
								<span class="custom_option" style="display: none;">
									选项：<input type="text" name="value[0][option]" value="" class="input-text" style="width: 250px;" />
								</span>
								标签调用说明：
							</div>
						</div>
						<div class="row cl">
							<div class="form-control col-8">
								<input type="hidden" name="model" id="model" value="{$vo.model}" />
								<input type="submit" class="btn btn-primary radius" value="保存" />
							</div>
						</div>
					</form>
				</div>
			</volist>
			
		</div>
	</div>
	

	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});
			$.Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0");
			
			$('.select-box').change(function(){
				var select_val = $(this).val();
				if(select_val == 4 || select_val == 5){
					$(this).next('span').show();
				}else{
					$(this).next('span').hide();
				}
			});
			
			$('.custom_del').click(function(){
				$(this).parent().parent().remove();
			})
		});

	</script>
</body>

</html>