<include file="Public/_header" />
<title>插件列表</title>
</head>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 插件管理 <span class="c-gray en">&gt;</span> 插件列表
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="pd-20">
		<!--<span class="r">共有数据：<strong>{$data.count}</strong> 条</span> </div>-->
		<div class="">
			<div id="data_table" data-table="{$table}" data-edit="{:U('Base/ajax_edit')}" data-del="{:U('Base/delete')}" data-change="{:U('Base/ajax_change')}"></div>
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="150">插件名称</th>
						<th width="150">标识</th>
						<th>描述</th>
						<th width="150">状态</th>
						<th width="100">作者</th>
						<th width="150">版本</th>
						<th width="300">调用方式</th>
						<th width="200">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="data" id="vo">
						<tr class="text-c">
							<td>{$vo.title}</td>
							<td>{$vo.name}</td>
							<td>{$vo.description}</td>
							<td>{$vo.status|change_color=###,array('color'=>'red','condition'=>'未安装')}</td>
							<td>{$vo.auth}</td>
							<td>{$vo.version}</td>
							<td>{调用方式}</td>
							<td class="f-14 td-manage">
								<a href="javascript:;" onclick="addon_config('插件设置','{:U('config')}',$vo['id'])" class="ml-5 btn btn-default">设置</a>
								<if condition="$vo['is_install'] eq 1">
									<a href="{:U('uninstall?addon_id='.$vo['id'].'&addon_name='.$vo['name'])}" class="ml-5 btn btn-danger">卸载</a>
								<else/>
									<a href="{:U('install?addon_name='.$vo['name'])}" class="ml-5 btn btn-info">安装</a>
								</if>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		/*资讯-添加*/
		function addon_config(title, url, id, w, h) {
			var index = layer.open({
				type: 2,
				title: title,
				content: url,
				area: ['800px', '80%'],
			});
		}
	</script>
</body>

</html>