<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__STATIC__/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/lib/plupload/jquery.dragsort-0.5.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/plupload/pluploadQueue.js"></script>
<script type="text/javascript" src="__STATIC__/js/uploader.js"></script>
<script type="text/javascript" src="__STATIC__/lib/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<!--<script type="text/javascript" src="__STATIC__/js/H-ui.admin.system.js"></script>-->
<script type="text/javascript" src="__STATIC__/lib/bootstrap-Switch/bootstrapSwitch.js"></script>
	
	
<script type="text/javascript" src="__STATIC__/js/style.js"></script>
