<include file="Public/_header" />
<title>新增文章</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-setting-edit">
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>名称：</label>
				<div class="formControls col-3">
					<input type="text" class="input-text" value="{$data.name}" placeholder="配置函数名称" id="" name="name">
				</div>
				<label class="form-label col-2"><span class="c-red">*</span>标题：</label>
				<div class="formControls col-3">
					<input type="text" class="input-text" value="{$data.title}" placeholder="显示标题" id="" name="title">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">分组：</label>
				<div class="formControls col-2">
					<span class="select-box">
						<select name="groups" class="select">
							<option value="0">请选择分组</option>
							<volist name="group_list" id="vo">
								<option value="{$i}" {:$data['groups']==$i?'selected=""':''}>{$vo}</option>
							</volist>
						</select>
					</span>
				</div>
				<label class="form-label col-2">类型：</label>
				<div class="formControls col-2">
					<span class="select-box">
						<select name="type" class="select">
							<option value="0">请选择类型</option>
							<volist name="type_list" id="vo">
								<option value="{$i}" {:$data['type']==$i?'selected=""':''}>{$vo}</option>
							</volist>
						</select>
					</span>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">排序：</label>
				<div class="formControls col-2">
					<input type="text" class="input-text" value="{$data.sort|default='0'}" placeholder="" id="" name="sort">
				</div>
				<label class="form-label col-2">是否启用：</label>
				<div class="formControls col-2">
					<input type="checkbox" name="status" class="icheck" data-button="hua" value="1" checked />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">配置项：</label>
				<div class="formControls col-10">
					<textarea name="item" cols="" rows="" class="textarea" placeholder="配置项，例：1:开启,2:关闭 （只用于下拉框）">{$data.item}</textarea>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">配置值：</label>
				<div class="formControls col-10">
					<textarea name="value" cols="" rows="" class="textarea" placeholder="配置值">{$data.value}</textarea>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">备注：</label>
				<div class="formControls col-10">
					<input type="text" name="note" class="input-text" placeholder="备注" value="{$data.note}"/>
				</div>
			</div>
			<div class="row cl">
				<div class="col-10 col-offset-2">
					<input type="hidden" name="id" value="{$data.id}" />
					<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function() {
			//异步提交表单
			$('#form-setting-edit').submit(function() {
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('settingEdit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success: function(data) {
						if (data.status == 1) {
							layer.msg(data.message, {
								icon: 6,
								time: 1000
							}, function() {
								//console.log(data);
								parent.location.reload();
							});
						} else {
							layer.msg(data.message, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			})
		})
	</script>
</body>

</html>