<include file="Public/_header" />
<title>新增新闻</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-banner-edit">
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>幻灯片位置：</label>
				<div class="formControls col-6">
					<select name="pid" class="select-box">
							<option value="">--请选择幻灯片位置--</option>
						<volist name="data.pos" id="vo">
							<option value="{$vo.id}" {:$vo['id'] == $data['pid'] ? 'selected' : ''}>{$vo.name}</option>
						</volist>
					</select>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>图片上传：</label>
				<div class="formControls col-6">
					<div id="container_filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
					<div class="upload_img">
						<ul>
							<li>
								<img src="{$vo.img|get_img}" width="100" height="100" class="showimg" />
								<a href="javascript:;" class="close_one_btn">X</a>
								<input type="hidden" name="img" value="{$data.img}" />
							</li>
						</ul>
					</div>
					<div id="container">
						<input type="button" id="pickfiles" class="btn btn-primary radius" value="上传图片">
					</div>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>标题：</label>
				<div class="formControls col-6">
					<input type="text" class="input-text" value="{$data.title}" placeholder="" id="" name="title">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>链接：</label>
				<div class="formControls col-6">
					<input type="text" class="input-text" value="{$data.link}" id="" name="link" placeholder="开头加上http://">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>状态：</label>
				<div class="formControls col-6">
					<input type="checkbox" name="status" class="icheck" data-button="hua" value="1" {:$data['status'] == 0 ? '': 'checked'} />
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>排序：</label>
				<div class="formControls col-3">
					<input type="text" class="input-text" value="{$data.sort|default=0}" placeholder="" id="" name="sort">
				</div>
				<div class="formControls col-7"></div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>说明：</label>
				<div class="formControls col-8">
					<textarea name="desc" rows="" cols="" class="textarea" placeholder="最多255个字符...">{$data.desc}</textarea>
				</div>
			</div>
			
			<div class="row cl">
				<div class="col-6 col-offset-2">
					<input type="hidden" name="id" value="{$data.id}" />
					<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function() {
			$('#container').pluploadQueue({
			browse_button: 'pickfiles',
			url: '{:U('Base/uploadFile')}',
			filters: {
				mime_types: [{
					title: "Image files",
					extensions: "jpg,gif,png"
				}],
				max_file_size: '5mb'
			},
			multipart_params: {
				one: 'one',
				dirname: 'banner'
			},
			callSuccess: function(data) {
				console.log(data);
				layer.msg(data.message, {
					icon: 6,
					time: 2000
				});
				upload_single_img(data.data);
			}, // 上传成功后返回数据
			callUploadFile: function(params) {
					params.one = $("#one").val();
				} // 开始上传后触发事件
		});
			//异步提交表单
			$('#form-banner-edit').submit(function() {
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('edit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success: function(data) {
						console.log(data);
						if (data.status == 1) {
							layer.msg(data.message, {
								icon: 6,
								time: 1000
							}, function() {
								console.log(data.data);
								parent.location.reload();
							});
						} else {
							layer.msg(data.message, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			})
		})
	</script>
</body>

</html>