<include file="Public/_header" />
<title>新增新闻</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-banner-pos-edit">
			<div class="row cl">
				<label class="form-label col-1"><span class="c-red">*</span>名称：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.name}" placeholder="" id="" name="name">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-1"><span class="c-red">*</span>状态：</label>
				<div class="formControls col-10">
					<input type="checkbox" name="status" class="icheck" data-button="hua" value="1" {:$data['status'] == 0 ? '': 'checked'} />
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-1"><span class="c-red">*</span>排序：</label>
				<div class="formControls col-1">
					<input type="text" class="input-text" value="{$data.sort|default=0}" placeholder="" id="" name="sort">
				</div>
				<div class="formControls col-9"></div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-1"><span class="c-red">*</span>说明：</label>
				<div class="formControls col-10">
					<textarea name="desc" rows="" cols="" class="textarea" placeholder="最多255个字符...">{$data.desc}</textarea>
				</div>
			</div>
			
			<div class="row cl">
				<div class="col-10 col-offset-1">
					<input type="hidden" name="id" value="{$data.id}" />
					<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function() {
			
			//异步提交表单
			$('#form-banner-pos-edit').submit(function() {
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('posEdit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success: function(data) {
						console.log(data);
						if (data.status == 1) {
							layer.msg(data.message, {
								icon: 6,
								time: 1000
							}, function() {
								console.log(data.data);
								parent.location.reload();
							});
						} else {
							layer.msg(data.message, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			})
		})
	</script>
</body>

</html>