<include file="Public/_header" />
<title>数据库列表</title>
</head>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据库管理 <span class="c-gray en">&gt;</span> 数据库列表
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="pd-20">
		<div class="cl pd-5 bg-1 bk-gray">
			<span class="l">
					<a href="{:U('index')}" class="btn btn-primary radius">备份</a>
					<a href="{:U('recover')}" class="btn btn-secondary radius" {:session(MY_ID)['userrole'] == 0 ? '' : 'style="display:none"'}>恢复</a>
					<a href="{:U('query')}"  class="btn btn-warning radius" {:session(MY_ID)['userrole'] == 0 ? '' : 'style="display:none"'}>执行</a>
				</span>
			<!--<span class="r">共有数据：<strong>{$data.count}</strong> 条</span> </div>-->
			<div class="mt-20">
				<div id="data_table" data-table="{$table}" data-edit="{:U('Base/ajax_edit')}" data-del="{:U('Base/delete')}" data-change="{:U('Base/ajax_change')}"></div>
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="25">
								<input type="checkbox" name="" value="">
							</th>
							<th>数据表名</th>
							<th width="80">引擎</th>
							<th width="100">版本</th>
							<th width="100">编码</th>
							<th width="150">平均每条数据长度</th>
							<th width="100">数据长度</th>
							<th width="100">表名注释</th>
							<th width="100">记录数</th>
							<th width="100">自增量</th>
							<th width="200">创建时间</th>
							<th width="100">空闲数据</th>
							<th width="120">操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="data" id="vo">
							<tr class="text-c">
								<td>
									<input type="checkbox" value="{$vo.id}" name="id">
								</td>
								<td class="text-l">{$vo.Name}</td>
								<td>{$vo.Engine}</td>
								<td>{$vo.Version}</td>
								<td>{$vo.Collation}</td>
								<td>{$vo.Avg_row_length|byte_format}</td>
								<td>{$vo.Data_length|byte_format}</td>
								<td>{$vo.Comment}</td>
								<td>{$vo.Rows}</td>
								<td>{$vo.Auto_increment}</td>
								<td>{$vo.Create_time}</td>
								<td>{$vo.Data_free}</td>
								<td class="f-14 td-manage">
									<a style="text-decoration:none" class="ml-5" href="javascript:;" title="编辑">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
									<a style="text-decoration:none" class="ml-5 del_btn" data-id="{$vo.id}" href="javascript:;" title="删除">
										<i class="Hui-iconfont">&#xe6e2;</i>
									</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div class="pd-10">
					<a href="javascript:;" class="btn btn-success radius backup_db">
						<i class="Hui-iconfont">&#xe626;</i> 备份数据库
					</a>
				</div>
			</div>
		</div>
		<include file="Public/_footer" />
		<script type="text/javascript">
			$(function() {
				$('.backup_db').click(function() {
					$.ajax({
						type: "get",
						url: "{:U('backupDB')}",
						async: true,
						success: function(data) {
//							console.log(data);
							if (data.status == 1) {
								//成功
								layer.msg(data.message, {
									icon: 6,
									time: 3000
								});
							} else {
								//失败
								layer.msg(data.message, {
									icon: 5,
									time: 3000
								});
							}
						}
					});
				})
			})
		</script>
</body>

</html>