<include file="Public/_header" />
<title>数据库列表</title>
</head>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据库管理 <span class="c-gray en">&gt;</span> 数据库列表
		<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="pd-20">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
					<a href="{:U('index')}" class="btn btn-primary radius">备份</a>
					<a href="{:U('recover')}" class="btn btn-secondary radius">恢复</a>
					<a href="{:U('query')}"  class="btn btn-warning radius">执行</a>
				</span>
			<!--<span class="r">共有数据：<strong>{$data.count}</strong> 条</span> </div>-->
			<div class="mt-20">
				<div id="data_table" data-table="{$table}" data-edit="{:U('Base/ajax_edit')}" data-del="{:U('Base/delete')}" data-change="{:U('Base/ajax_change')}"></div>
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="25">
								<input type="checkbox" name="" value="">
							</th>
							<th>SQL文件名</th>
							<th width="200">备份时间</th>
							<th width="200">类型</th>
							<th width="200">文件大小</th>
							<th width="200">文件备注</th>
							<th width="200">操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="data" id="vo">
							<tr class="text-c">
								<td>
									<input type="checkbox" value="{$vo.id}" name="id">
								</td>
								<td>{$vo.name}</td>
								<td>{$vo.time}</td>
								<td>{$vo.type}</td>
								<td>{$vo.size}</td>
								<td><span title="{$vo.description}">查看文件备注信息</span></td>
								<td class="f-14 td-manage">
									<a href="javascript:;" data-name="{$vo.name}" class="btn btn-info file_recovery">导入</a>
									<a href="javascript:;" data-name="{$vo.name}" class="btn btn-danger file_delete">删除</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
		<include file="Public/_footer" />
		<script type="text/javascript">
			$(function() {
				$('.file_delete').click(function() {
					var filename = $(this).attr('data-name');
					layer.confirm('确认删除',{
						btn:['确认','取消']
					},function(index){
						if(index == 1){
							$.ajax({
								type: "get",
								url: "{:U('deleteFile')}",
								data: "filename="+filename,
								async: true,
								success: function(data) {
		//							console.log(data);
									if (data.status == 1) {
										//成功
										layer.msg(data.message, {
											icon: 6,
											time: 3000
										},function(){
											location.reload();
										});
									} else {
										//失败
										layer.msg(data.message, {
											icon: 5,
											time: 3000
										},function(){
											location.reload();
										});
									}
								}
							});
						}
					})
				})
				$('.file_recovery').click(function() {
					var filename = $(this).attr('data-name');
					layer.confirm('确认导入（导入会覆盖原来的数据库）',{
						btn:['确认','取消']
					},function(index){
						if(index == 1){
							$.ajax({
								type: "get",
								url: "{:U('recovery')}",
								data: "filename="+filename,
								async: true,
								success: function(data) {
									console.log(data);
									if (data.status == 1) {
										//成功
										layer.msg(data.message, {
											icon: 6,
											time: 3000
										},function(){
											location.reload();
										});
									} else {
										//失败
										layer.msg(data.message, {
											icon: 5,
											time: 3000
										},function(){
											location.reload();
										});
									}
								}
							});
						}
					})
				})
			})
		</script>
</body>

</html>