<include file="Public/_header" />
<title>新增文章</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-auth-add">
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>角色名称：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.name}" placeholder="角色名称" id="" name="name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>角色备注：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.note}" placeholder="备注信息" id="" name="note">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">是否启用：</label>
				<div class="formControls col-4"> 
					<span class="select-box">
						<select name="status" class="select">
							<option value="1" {:$data['status']=='1'?'selected=""':''}>启用</option>
							<option value="0" {:$data['status']=='0'?'selected=""':''}>禁用</option>
						</select>
					</span>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">权限分配：</label>
				<div class="formControls col-4"> 
					<span class="check-box">
						<input type="checkbox" id="checkall" />全选<br />
						<volist name="data.menu" id="m">
							<input type="checkbox" class="checkbox" name="auth[]" value="{$m.id}" data-pid="{$m.pid}" {:$m['checked']==1?'checked':''}/>{$m.title_show}{$m.name}<br />
						</volist>
					</span>
				</div>
			</div>
			<div class="row cl">
				<div class="col-10 col-offset-2">
					<input type="hidden" name="id" value="{$data.id}" />
					<button onClick="menu_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function(){
			//点击父级 获取所有的子集
			$('#checkall').click(function(){
				var if_check = $(this).prop('checked'); 
	            if(if_check){
	            	$('input[class="checkbox"]').each(function() {  
	                	$(this).prop("checked", true);  
		            });
	            }else{
	            	$('input[class="checkbox"]').each(function() {  
	                	$(this).prop("checked", false);  
		            });
	            }
			})
			$('.checkbox').on('click',function(){
				var self_id = $(this).val();
				var is_check = $(this).prop('checked'); 
				$(this).prop('checked',true);
				if(is_check){
					$('input[class="checkbox"]').each(function() {  
						var this_pid = $(this).attr('data-pid');
						if(self_id == this_pid){
							$(this).prop("checked", true);
						}
		            });
				}else{
					$(this).prop('checked',false);
					$('input[class="checkbox"]').each(function() {  
						var this_pid = $(this).attr('data-pid');
						if(self_id == this_pid){
							$(this).prop("checked", false);
						}
		            });
				}
			})
			
			
			
			//异步提交表单
			$('#form-auth-add').submit(function(){
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('edit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success:function(data){
						console.log(data);
						if(data.status == 1){
							layer.msg(data.message,{
								icon: 6,
								time: 1000
							},function(){
//								console.log(data.data);
								parent.location.reload();
							});
						}else{
							layer.msg(data.info, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			});
		})
//		function menu_save_submit(){
//			$('#form-menu-add').submit();
//		}
	</script>
</body>

</html>