<include file="Public/_header" />
<title>新增文章</title>
</head>

<body>
	<div class="pd-20">
		<form method="post" class="form form-horizontal" id="form-menu-add">
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>菜单名称：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.name}" placeholder="菜单名称" id="" name="name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>菜单链接：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="{$data.url}" placeholder="(控制器/方法)" id="" name="url">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">父级菜单：</label>
				<div class="formControls col-4"> 
					<span class="select-box">
						<select name="pid" class="select">
								<option value="0">顶级菜单</option>
							<volist name="cateinfo" id="vo">
								<option value="{$vo.id}" {:$data['pid'] == $vo['id'] ? 'selected=""':''}>{$vo.title_show}{$vo.name}</option>
							</volist>
						</select>
					</span>
				</div>

				<label class="form-label col-2">排序值：</label>
				<div class="formControls col-4">
					<input type="text" class="input-text" value="{$data.sort|default=0}" placeholder="默认为0" id="" name="sort">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">是否显示左侧：</label>
				<div class="formControls col-4"> 
					<span class="select-box">
						<select name="is_left" class="select">
							<option value="0" {:$data['is_left']=='0'?'selected=""':''}>不显示</option>
							<option value="1" {:$data['is_left']=='1'?'selected=""':''}>显示</option>
						</select>
					</span>
				</div>
				<label class="form-label col-2">菜单状态：</label>
				<div class="formControls col-4">
					<span class="select-box">
						<select name="status" class="select">
							<option value="1" {:$data['status']=='1'?'selected=""':''}>启用</option>
							<option value="0" {:$data['status']=='0'?'selected=""':''}>禁用</option>
						</select>
					</span>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">左侧菜单图标：</label>
				<div class="formControls col-4"> 
					<input type="text" class="input-text" value="{$data.css}" placeholder="Hui-iconfont样式代码" id="" name="css">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">备注信息：</label>
				<div class="formControls col-10">
					<textarea name="note" cols="" rows="" class="textarea" placeholder="备注信息，最多240个字符..." datatype="*0-240" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,240)">{$data.note}</textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/240</p>
				</div>
			</div>
			<div class="row cl">
				<div class="col-10 col-offset-2">
					<input type="hidden" name="id" value="{$data.id}" />
					<button onClick="menu_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
	<include file="Public/_footer" />
	<script type="text/javascript">
		$(function(){
			//异步提交表单
			$('#form-menu-add').submit(function(){
				var self = $(this);
				$.ajax({
					type: "POST",
					url: "{:U('edit')}",
					data: self.serializeArray(),
					async: false,
					dataType: "json",
					success:function(data){
//						console.log(data);
						if(data.status == 1){
							layer.msg(data.message,{
								icon: 6,
								time: 1000
							},function(){
//								console.log(data.data);
								parent.location.reload();
							});
						}else{
							layer.msg(data.info, {
								icon: 5,
								time: 2000
							});
						}
					}
				})
				return false;
			});
		})
//		function menu_save_submit(){
//			$('#form-menu-add').submit();
//		}
	</script>
</body>

</html>